* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 30px 100px 30px 100px;
    background-color: rgb(0, 0, 0);
}

main {
    background-color: rgb(127, 255, 212);
    padding: 30px 0px;
}

#grid {
    max-width: 1200px;
    margin: 0 auto;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
}

#start {
    padding: 10px 80px;
    font-size: 30px;
    cursor: pointer;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}

.clicked-azure {
    background-color: rgb(90, 209, 209);
}

.row {
    display: flex;
    align-items: center;
}

.col-50 {
    width: 50%;
    display: flex;
    align-items: center;
}

.col-50 img {
    width: 10%;
}

.jc-right {
    display: flex;
    justify-content: end;
}

.color-orange {
    font-size: 30px;
    color: rgb(255, 115, 0);
    margin-left: 10px;
}